@mixin card() {
  color: rgb(240, 234, 234);
  overflow-y: scroll;
  font-family: $mainFont;
  background: rgba(11, 84, 136, 0.897);
  height: 450px;
  text-align: center;
  box-shadow: 4px 4px 7px rgba(32, 32, 32, 0.835);
  transition: all 0.3s ease;
  h1{
    font-size: 2rem;
    font-weight: bold;
    padding: 50px 5px 0px;
  }
  p{
    font-size: 1.3rem;
    padding: 15px;
  }
  button {
    color: rgb(240, 234, 234);
    background: transparent;
    border: none;
    outline: none;
    font-size: 2rem;
    padding: 10px;
    float: left;
    &:hover{
      cursor: pointer;
      color: #000;
    }
  }
  .search-btn {
    float: right;
    font-size: 1.8rem;
  }
  &:hover {
    box-shadow: 
      rgba(0, 0, 0, 0.582) 4px 4px 10px,
      rgba(0, 0, 0, 0.582) 2px 0px 10px;
    transform: scale(1.05);
  }
}

.top-card-container {
  .card {
    @include card();
    margin: 0 auto 40px;
    width: 700px;
    height: 300px;
  }
}
.card {
  @include card();
}
