@mixin card() {
  h1{
    font-size: 2rem;
    padding: 5px;
    text-align: center;
  }
  p{
    font-size: 1.3rem;
    padding: 5px;
  }
  overflow-y: scroll;
  font-family: $mainFont;
  background: rgba(7, 104, 173, 0.945);
  height: 450px;
}

.top-card-container {
  .card {
    @include card();
    margin: 0 auto 40px;
    width: 700px;
    height: 300px;
  }
}
.card {
  @include card();
}
