@mixin h2() {
  font-size: 7rem;
  font-family: $titleFont;
  text-align: center;
}

.top-card-container {
  margin: 0 auto;
}

.sorry {
  @include h2();
  margin: 100px 0;
}

.card-container {
  width: 100%;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 420px);
  grid-gap: 60px 0;
  justify-content: space-around;
  margin: 0 auto;
  h2 {
   @include h2();
    margin: -15px 0 15px;
  }
}

main {
  padding: 20px 5px 80px;
  h2 {
    @include h2();
    margin: 50px 0;
  }
}

body {
  background: url(https://static1.squarespace.com/static/53cb0ed6e4b01d2bd00e3633/t/587adf15e58c62d26c18db70/1484447548343/book+pages+background.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}