@mixin card() {
  h1{
    font-size: 2rem;
    padding: 5px;
    text-align: center;
  }
  p{
    font-size: 1.3rem;
    padding: 5px;
  }
  font-family: $mainFont;
  background: $backgroundColor;
  height: 400px;
  overflow-y: scroll;
}
.top-card {
  @include card();
  margin: 0 auto 40px;
  width: 700px;
  height: 300px;
}
.card {
  @include card();
}
