header {
  img {
    height: 700px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgba(210, 180, 140, 0.5);
  width: 100%;
  height: 100vh;
  font-family: $mainFont;
  div { 
    text-align: center;
    margin: 10px 40px;
    h1{
      font-size: 10rem;
      text-shadow: 6px 3px #04BAF4;
    }
    h3 {
      font-size: 4rem;
    }
    input{
      margin-top: 25px;
      width: 220px;
      height: 30px;
      outline: none;
      font-family: $mainFont;
      font-size: 1.6rem;
      &::placeholder{
        font-family: $mainFont;
        font-size: 1.6rem;
      }
    }
    button{
      height: 34px;
      width: 90px;
      border: none;
      font-size: 1.6rem;
      font-family: $mainFont;
      background: #04BAF4;
    }
  }
}