$fontColor:rgb(224, 220, 220);
@mixin headers($height, $imgHeight, $paddingTop) {
  background: $backgroundColor;
  height: $height;
  width: 100%;
  box-shadow: 4px 4px 7px rgba(32, 32, 32, 0.835);
  .header-link {
    font-family: $titleFont;
    text-decoration: none;
    font-size: 2.5rem;
    color: $fontColor;
    text-shadow: 8px 5px 6px black;
    float: right;
    margin: 15px;
    height: 5vh;
  }
  header {
    img {
      height: $imgHeight;
      filter: invert(90%) opacity(100%) drop-shadow(25px -16px 1px $accentColor);
    }
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $titleFont;
    padding-top: $paddingTop;
    div { 
      text-align: center;
      margin: 10px 60px 10px 80px;
      h1{
        transition: all 0.3s ease;
        font-size: 10rem;
        text-shadow: 6px 3px $accentColor, 12px 5px 6px black;
        a{
          text-decoration: none;
          color: $fontColor;
        }
        &:hover {
          transform: scale(1.03);          
        }
      }
      h3 {
        font-size: 4rem;
        color: $fontColor;
        text-shadow: 8px 5px 6px black;
      }
      input {
        margin-top: 26px;
        width: 220px;
        height: 36px;
        outline: none;
        border: none;
        font-family: $titleFont;
        font-size: 1.6rem;
        &::placeholder {
          font-family: $titleFont;
          font-size: 1.6rem;
        }
      }
      button{
        height: 38px;
        width: 88px;
        border: none;
        font-size: 1.6rem;
        font-family: $titleFont;
        background: $accentColor;
        outline: none;
        &:hover {
          filter: brightness(150%)
        }
        a {
          text-decoration: none;
          color: $fontColor;
          padding: 10px 17px;
        }
      }
    }
  }
}

.header-false {
  @include headers(100vh, 97vh, 10px);
}

.header-true {
  @include headers(320px, 300px, 5px);
  img {
    animation: shrink 1.5s linear;
  }
  animation: shrink 1.5s linear;
}

@keyframes shrink {
  0%{
    height: 100vh;
    img {
      height: 675px;
    }
  }
}

@media (max-width: 1078px ) {
  .header-true {
    @include headers(380px, 300px, 5px);
  }
}
