@mixin headers($height, $imgHeight) {
  img {
    height: $imgHeight;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgba(160, 137, 107, 0.5);
  width: 100%;
  height: $height;
  font-family: $mainFont;
  div { 
    text-align: center;
    margin: 10px 40px;
    h1{
      font-size: 10rem;
      text-shadow: 6px 3px #04BAF4;
    }
    h3 {
      font-size: 4rem;
    }
    input{
      margin-top: 25px;
      width: 220px;
      height: 30px;
      outline: none;
      font-family: $mainFont;
      font-size: 1.6rem;
      &::placeholder{
        font-family: $mainFont;
        font-size: 1.6rem;
      }
    }
    button{
      height: 34px;
      width: 90px;
      border: none;
      font-size: 1.6rem;
      font-family: $mainFont;
      background: #04BAF4;
      outline: none;
    }
  }
}

.header-false {
  @include headers(100vh, 700px);
}

.header-true {
  @include headers(40vh, 300px);
  img {
    animation: shrink 2.5s linear;
  }
  animation: shrink 2.5s linear;
}

@keyframes shrink {
  0%{
    height: 100vh;
    img {
      height: 675px;
    }
  }
}