//fonts 
@import url('https://fonts.googleapis.com/css?family=Engagement');
$titleFont: 'Engagement', cursive;

@import url('https://fonts.googleapis.com/css?family=Anaheim');
$mainFont: 'Anaheim', sans-serif;

//colors
// $backroundColor: rgba(160, 137, 107, 0.5);
$backgroundColor: rgba(36, 36, 36, 0.877);
$fontColor:rgb(224, 220, 220);
$accentColor: rgb(114, 23, 23);

* {
 box-sizing: border-box;
}

@import "Reset";
@import "Header";
@import "Card";
@import "CardContainer";
@import "Message";
@import "Loader";