//fonts 
@import url('https://fonts.googleapis.com/css?family=Engagement');
$titleFont: 'Engagement', cursive;

@import url('https://fonts.googleapis.com/css?family=Anaheim');
$mainFont: 'Anaheim', sans-serif;

//colors
// $backroundColor: rgba(160, 137, 107, 0.5);
$backgroundColor: rgb(160, 149, 133);


@import "Reset";
@import "Header";
@import "Card";
@import "CardContainer";