//fonts 
@import url('https://fonts.googleapis.com/css?family=Engagement');
$titleFont: 'Engagement', cursive;

@import url('https://fonts.googleapis.com/css?family=Anaheim');
$mainFont: 'Anaheim', sans-serif;

//colors
$backgroundColor: rgba(17, 17, 17, 0.877);
$fontColor:rgb(224, 220, 220);
// $accentColor: rgb(114, 23, 23);
$accentColor: #53707c;
$accentColor2: #b6d5d0;

* {
 box-sizing: border-box;
}

@import "Reset";
@import "Header";
@import "Card";
@import "CardContainer";
@import "Message";
@import "Loader";